body {
  background-color: hsl(48, 100%, 96%);

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: gainsboro;
  }

  &::-webkit-scrollbar-thumb {
    background: goldenrod;
  }
}

section {
  padding: 6rem 0;
}

header {
  @apply bg-white;

  &.sticky {
    @apply fixed left-0 top-0 z-30 w-full py-2 shadow-lg transition-all duration-300 ease-in-out;
  }
}
